<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <footer>
      <p><a target="_blank" href="https://icons8.com/icon/43228/library">Library</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
    </footer>
  </body>
</html>
